body {
    color: #333333;
    background-color: snow;
}
img{
    float: right;
    margin-left: 15px;
}
h1 { text-align: center;}
h1,h2 {
    border-bottom: 1px solid black;
}
p {
    border-left: 1px solid black;
    padding-left: 15px;
}
strong { font-family: 'Courier New', Courier, monospace; }
em {
    font-style: normal;
    color: red;
}