/* Cooper Gadd
7/22/2023
ISTE240 Exercise 5 – JavaScript Part 5 */
body
{
    margin-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgoldenrodyellow;
}