/* design */
body
{
    background-color: white;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
    padding-bottom: 10px;
}
h1, h2, h3
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stick
{
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: lightskyblue;
}
header > h1
{
    text-align: center;
    color: darkgoldenrod;
}
header > h1 > a
{
    color: darkgoldenrod;
    text-decoration: none;
    font-size: 1em;
    transition: 1s;
}
header > h1 > a:hover
{
    color: purple;
    font-size: 1.2em;
}
h2
{
    color: teal;
    text-align: center;
}
h3
{
    color: purple;
}
article
{
    box-shadow: 0 0 10px gray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
.smallMap
{
    width: 350px;
    height: 250px;
    border: 0;
}
.bigMap
{
    width: 1000px;
    height: 500px;
    border: 0;
}
.hamburgerMenu 
{
    display: none;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}
ol > li
{
    margin: 10px;
}
.container > div
{
    border-left: 1px solid pink;
    padding: 10px;
    transition: 1s;
}
.container > div:hover
{
    box-shadow: 0 0 10px gray;
    background-color: gainsboro;
    border: 1px solid purple;

}
.container > div > h2
{
    text-decoration: underline;
}
.container > div > #list
{
    border-left: none;
    padding: none;
}
#message
{
    font-size: 2em;
    color: red;
    position: absolute;
}
#list
{
    box-shadow: 0 0 10px gray;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
}
/* layout */
.container
{
margin: auto;
width: 90%;
max-width: 1000px;
}
.page-layout
{
grid-template-columns: 1fr 1fr;
display: grid;
gap: 10px;
}
article
{
    grid-column: 1/3;
}
iframe
{
    grid-column: 1/3;
}
.home
{
    grid-column: 2/3;
}
footer
{
    grid-column: 1/3;
    text-align: center;
}
footer > ol
{
    text-align: left;
}
/* drop down nav menu */
nav ul
{
    list-style: none;
}
nav a
{
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: .5s;
}
nav a:hover
{
    color: white;
    background-color: purple;
    border-radius: 10px;
    padding: 5px;
}
nav li li a
{
    display: block;
    font-weight: normal;
}
nav li
{
    background-color: palegoldenrod;
    transition: 1s;
}
nav li li
{
    display: block;
    float: none;
    background-color: palegoldenrod;
    border: 0;
    padding: 0.5em 0 1em 0;
    transition: 1s;
}
nav li ul
{
    display: none;
    position: absolute;
    font-weight: normal;
    padding: 0.5em 0 1em 0;
}
nav li:hover ul
{
    display: block;
    background-color: palegoldenrod;
    padding: 0.2em 5px;
    text-align: center;
}
nav li li a:hover
{
    cursor:pointer;
}
nav > ul
{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding: 5px;
    background-color: palegoldenrod;
}
nav li a.active
{
    background-color: pink;
    padding: 5px;
    border-radius: 10px;
}
/* mobile friendly */
@media(max-width: 1100px)
{
    .bigMap
    {
        width: 750px;
        height: 350px;
    }
}
@media(max-width: 950px)
{
    #mainMenu
    {
        display: block;
    }
    .page-layout
    {
        display: block;
    }
    nav ul
    {
        list-style: none;
    }
    nav a
    {
        /* font-weight: normal; */
        color: inherit;
        text-decoration: none;
    }
    nav a:hover
    {
        background-color: inherit;
        color:black;
        padding: none;
        border-radius: none;
    }
    nav li li a
    {
        display: inline;
    }
    nav li
    {
        background-color: transparent;
    }
    nav li li
    {
        display: inline;
        float: none;
        background-color: transparent;
        border: none;
    }
    nav li ul
    {
        display: unset;
        position: static;
    }
    nav li:hover ul
    {
        display: unset;
        background-color: transparent;
        padding: 0;
        text-align: unset;
    }
    nav li li a:hover
    {
        padding: 0;
        color: inherit;
    }
    nav > ul
    {
        display: block;
        justify-content: initial;
    }
    nav li a.active
    {
        background-color: inherit;
        color:purple;
        padding: none;
        border-radius: none;
    }
}
@media(max-width: 800px)
{
    .bigMap
    {
        width: 500px;
        height: 250px;
    }
    #mainMenu
    {
        display: none;
        transition: 1s;
    }
    .hamburgerMenu
    {
        display: block;
    }
}